@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* .................baner style................... */
.banner-container{
    margin-top: 30px;
}
.banner-content{
   
    margin: 0 auto;
    max-width: 1320px;
    height:600px;
    background-image: url(../images/Banner\ Image.png);
    background-position:center; 
    background-size: cover;
    background-repeat: no-repeat;
   

    background-color:rgba(0,0,0,.3);
    background-blend-mode: overlay;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h3{
     color:white;
    font-size: 35px;
    
    font-weight: 400; 
}
.banner-content h1{
    color: white;
    font-size: 80px;
    font-weight: 900;
}
/* .......discount section start */
.discount-container{ 
    height: 800px;
    width: 800px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items:center ;

}
.discount-content-msge>h1{
    color: red;
    font-size:88px ;
    font-weight: 700;
    margin-bottom: 28px;
}
.discount-content-msge>h5{
    color: red;
    font-size: 24px;
}

.discount-content-msge>h3{
    font-size: 48px;
    text-align: center;
    margin-top: 10px;
}
.discount-content-img{
    border: 2px dashed gray;
    margin-top: 48px;
}
/* .............party-section */
.party-container{
    height:600px;
    max-width: 1320px;
    margin: 0 auto;
 /* background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 10%); */
    background-image:url(../images/Vectorrr.png) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    
}
.party-content{
    width:90%px;
    height:464px ;
    margin: 0 auto;
   
    display: flex;
   
}
.party-content>.party-section-msge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
 }
 .party-content>.party-section-msge>h1{
    font-size:64px ;
    font-weight: 900;
    margin-bottom: 20px;
 }
 .party-section-msge button{
margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
 }
 .party-content>.img{
    border: 2px dashed whitesmoke;
    margin-left:130px;
 }
 /* ..........discount-section................ */
.location-container{ 
width: 1320px;
height: 480px;
text-align: center;
margin: 0 auto;
background-color:#ffe6e6 ;
margin-bottom: 120px;

}
.location-content{
    margin-top: 100px;
}
.location-content>p{

    font-size:32px ;
    font-weight: 600;
}
.location-content span{
    color: red;
}
.location-container button{
    background-color: red;
    color: white;
    font-size: 38px;
    margin-top:48px;
    border: none;
    border-radius: 10px;
    padding:5px;
}
.holi-offer-container{ 
    width: 1320px;
    height:460px ;
    display: flex;
    margin: 0 auto;

}
.one{ 
    width: 393px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.one h5{
    font-size: 20px;
    color: red; margin-bottom: 10px;
}
.one h2{
    font-size:60px;
    color: black;
}
.one p{
    color: rgba(7, 2, 17, 0.6);
}
.two{border: 10px solid red;
    width: 463px;
    height: 460px;
    text-align:center;
    border-radius: 50%;
    position: relative;
    bottom:50px;
    left: 50px;
    padding-top: 30px;
  }

 .three{ 
    width: 276px;
   position:relative;
   left: 200px;
   top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  .three h3{ color: red;
    font-size: 48px;
  }
  /* ...............gift section........... */